<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-secondary">
    <header>
      <nav class="navbar bg-dark">
        <div class="d-flex flex-column"></div>
        <div class="container ml-1 pt-2">
          {{#if logged_in}}
          <h5 class="d-flex flex-row">
            <a href="/">
              <button
                type="button"
                class="btn col-3 col-md-3 btn-dark text-white"
              >
                Home
              </button>
            </a>
            <a href="/dashboard">
              <button
                type="button"
                class="btn col-4 col-md-4 mx-5 btn-dark text-white"
              >
                Dashboard
              </button>
            </a>
            <a href="/login">
              <button
                type="button"
                class="btn col-3 col-md-3 btn-dark text-white"
              >
                Logout
              </button>
            </a>
            {{else}}
            <a href= "/login">
                <button type="button" class="btn col-3 col-md-3 btn-dark text-white">
                    Login
                </button>
            </a>
          </h5>
          {{/if}}
          <h2 class="col-12 col-sm-12 pt-1 text-white">The Tech Blog</h2>
        </div>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  {{#if logged_in}}
  <script src= "./js/logout.js"></script>
  {{/if}}
  </body>

</html>
